    <div class="tree-demo-app">
      <div class="tree-container tree-container--with-controls">
        <div class="tree-info">
          <p class="tree-title">Welcome to ComBot!</p>
          <p class="notice">You can create your own bot over here</p></div>
        </div>
        <div class="tree-content">
          <tree #treeFFS
                [tree]="ffs"
                (nodeRemoved)="onNodeRemoved($event)"
                (nodeRenamed)="onNodeRenamed($event)"
                (nodeSelected)="onNodeSelected($event)"
                (nodeMoved)="onNodeMoved($event)"
                (nodeCreated)="onNodeFFSCreated($event)"
                (nodeExpanded)="onNodeExpanded($event)"
                (nodeCollapsed)="onNodeCollapsed($event)">
          </tree>
        </div>
      <div class="tree-container">
    </div>
    <div class="tree-controlls">
        <button button (click)="reset()">reSet</button>
    </div>