<div style="height:100%;">
<div class="tree-demo-app">
      <div class="tree-container tree-container--with-controls">
        <div class="tree-content nowrap">
          <tree #treeFFS
                [tree]="ffs"
                (nodeRemoved)="onNodeRemoved($event)"
                (nodeRenamed)="onNodeRenamed($event)"
                (nodeSelected)="onNodeSelected($event)"
                (nodeMoved)="onNodeMoved($event)"
                (nodeCreated)="onNodeFFSCreated($event)"
                (nodeExpanded)="onNodeExpanded($event)"
                (nodeCollapsed)="onNodeCollapsed($event)">
          </tree>
        </div></div></div>
    <button class="btn" type="button" (click)="createBot($event)" ><span>צור בוט</span></button>